[Unit]
Description=shadowsocks server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/ssserver -c /etc/shadowsocks/shadowsocks.config

[Install]
WantedBy=multi-user.target