[Unit]
Description=shadowsocks server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssserver -c /etc/shadowsocks/ssserver.config
Restart=Always
User=root
Group=root

[Install]
WantedBy=multi-user.target